@charset "UTF-8";
.ad_section .lst_type .lst.ext_price .lst_price .link::after, .ad_section .lst_type .lst.ext_place .place_info .etc_area::after,
.ad_section .lst_type .lst.ext_place .place_info .time_area::after {
	display: block;
	clear: both;
	content: '';
}

.ad_section .lst_type_v2 .lst .ly_map .tit_area .tit .txt, .ad_section .lst_type_v2 .lst .ly_map .tit_area .m_url .txt {
	position: relative;
}

.ad_section .lst_type_v2 .lst .ly_map .tit_area .tit .txt:hover, .ad_section .lst_type_v2 .lst .ly_map .tit_area .m_url .txt:hover {
	text-decoration: none;
}

.ad_section .lst_type_v2 .lst .ly_map .tit_area .tit .txt:hover::after, .ad_section .lst_type_v2 .lst .ly_map .tit_area .m_url .txt:hover::after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1px;
	background: currentColor;
	content: '';
}

.ad_section .dsc_ncaution .ico_ad_dsc, .ad_section .lst_type .lst .ico_ad_mark, .ad_section .lst_type .lst .ico_area .ly_ad .ly_ad_go .bu, .ad_section .sp_ad.ico_19, .ad_section .sp_ad.ico_npay, .ad_section .sp_ad.ico_npay_plus, .ad_section .sp_ad.ico_nlogin, .ad_section .sp_ad.ico_talktalk, .ad_section .sp_ad.ico_nreserve, .ad_section .ad_banner .ico_npay,
.ad_section .ad_banner .ico_nlogin, .ad_section .ad_banner_cheat .sp_ad.ico_notice, .ad_section .section_more .go_site .icon_arrow, .ad_section .lst_type_v2 .lst .ad_view, .ad_section .lst_type_v2 .lst.ad_hover .ad_view:before,
.ad_section .lst_type_v2 .lst .ad_view.selected:before, .ad_section .lst_type_v2 .lst .ly_map .map_area .btn_map, .ad_section .lst_type_v2 .lst .ly_map .btn_clse::before, .ad_section .lst_type_v2 .lst .ly_map .ico_find_road, .ad_section .lst_type_v2 .lst .ly_map .ico_road_name {
	background-image: url(../img/sp_powerlink.png);
	background-image: linear-gradient(transparent, transparent), url(../img/sp_powerlink.svg);
	background-size: 210px 166px;
	background-repeat: no-repeat;
}

/* default */
.ad_section {
	position: relative;
	padding-bottom: 27px;
}

.ad_section .section_head {
	position: relative;
	padding: 14px 20px 15px;
	border: 1px solid #eaebec;
	border-bottom-color: #eff2f4;
	border-radius: 6px 6px 0 0;
	background-color: #f7f9fa;
}

.ad_section .section_head h2 {
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	color: #000;
}

.ad_section .section_head .go_register {
	float: right;
	position: relative;
	margin-top: 3px;
	font-weight: 500;
	font-size: 13px;
	line-height: 17px;
	letter-spacing: -0.31px;
	color: #242424;
}

.ad_section .ad_area {
	overflow: hidden;
	border-radius: 0 0 6px 6px;
	border: 1px solid #eaebec;
	border-top: 0;
	background-color: #fafcff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
}

.ad_section .dsc_ncaution {
	position: static;
	margin-left: 6px;
	font-size: 0;
	line-height: 20px;
	color: #000;
}

.ad_section .dsc_ncaution span {
	display: inline-block;
	vertical-align: top;
}

.ad_section .dsc_ncaution .dsc_ncaution_keyword {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	max-width: 200px;
	margin: 3px 0 0;
	padding-right: 2px;
	vertical-align: top;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #808080;
	letter-spacing: -0.21px;
	word-break: normal;
	word-wrap: normal;
	zoom: 1;
}

.ad_section .dsc_ncaution .dsc_ncaution_quotation {
	margin-top: 2px;
	font-size: 13px;
	line-height: 16px;
	color: #808080;
}

.ad_section .dsc_ncaution .dsc_ncaution_quotation ~ .dsc_ncaution_quotation {
	margin-left: -2px;
}

.ad_section .dsc_ncaution .dsc_ncaution_text {
	margin-top: 3px;
	padding-left: 6px;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: -0.21px;
	color: #808080;
}

.ad_section .dsc_ncaution .ly_ad_dsc {
	left: 20px;
	top: 105%;
	z-index: 121;
	margin-top: -10px;
	width: 315px;
	border-radius: 4px;
	border: solid 1px #dadde1;
	color: #242424;
	box-sizing: border-box;
}

.ad_section .dsc_ncaution .ly_ad_dsc p {
	margin: 14px 37px 13px 18px;
	font-size: 13px;
	line-height: 18px;
	color: #505050;
	letter-spacing: -0.3px;
	word-break: keep-all;
}

.ad_section .dsc_ncaution .ly_ad_dsc .bt_ad_clse {
	top: 11px;
	right: 12px;
}

.ad_section .dsc_ncaution .ly_ad_dsc .link_help {
	display: block;
	margin-top: 4px;
	color: #0068c3;
	text-decoration: none;
}

.ad_section .dsc_ncaution .ico_ad_dsc {
	background-position: -192px -29px;
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	margin: 0 0 0 6px;
	vertical-align: -10px;
}

.ad_section .lst_type .lst {
	padding: 8px 20px;
}

.ad_section .lst_type .lst:first-of-type, .ad_section .lst_type .lst.type_img:first-of-type, .ad_section .lst_type .lst.type_more:first-of-type, .ad_section .lst_type .lst.type_more.type_img:first-of-type {
	padding-top: 15px;
}

.ad_section .lst_type .lst:last-of-type, .ad_section .lst_type .lst.type_img:last-of-type, .ad_section .lst_type .lst.type_more:last-of-type, .ad_section .lst_type .lst.type_more.type_img:last-of-type {
	padding-bottom: 20px;
}

.ad_section .lst_type .lst .inner {
	position: relative;
	padding: 0 49px 0 0;
	font-size: 0;
}

.ad_section .lst_type .lst .lnk_head {
	display: inline-block;
	vertical-align: middle;
	padding-right: 6px;
}

.ad_section .lst_type .lst .lnk_tit .hl,
.ad_section .lst_type .lst .sub_tit .hl {
	font-weight: bold;
}

.ad_section .lst_type .lst .lnk_tit,
.ad_section .lst_type .lst.type_subtitle .sub_tit {
	position: relative;
	text-decoration: none;
	display: inline-block;
	vertical-align: 0;
	font-weight: bold;
	font-size: 15px;
	line-height: 21px;
	color: #0313aa;
	letter-spacing: -0.2px;
	white-space: nowrap;
}

.ad_section .lst_type .lst .lnk_tit::after,
.ad_section .lst_type .lst.type_subtitle .sub_tit::after {
	position: absolute;
	right: 0;
	bottom: 2px;
	left: 0;
	border-bottom: 1px solid currentColor;
	content: '';
}

.ad_section .lst_type .lst .lnk_tit:hover,
.ad_section .lst_type .lst.type_subtitle .sub_tit:hover {
	text-decoration: none;
}

.ad_section .lst_type .lst .lnk_tit:hover::after,
.ad_section .lst_type .lst.type_subtitle .sub_tit:hover::after {
	position: absolute;
	right: 0;
	bottom: 2px;
	left: 0;
	border-bottom: 1px solid currentColor;
	content: '';
}

.ad_section .lst_type .lst .lnk_tit:active, .ad_section .lst_type .lst .lnk_tit:visited,
.ad_section .lst_type .lst.type_subtitle .sub_tit:active,
.ad_section .lst_type .lst.type_subtitle .sub_tit:visited {
	color: #99209b;
}

.ad_section .lst_type .lst .url_area {
	display: inline-block;
	max-width: 100%;
	vertical-align: top;
	font-size: 13px;
}

.ad_section .lst_type .lst .ico_ad_mark {
	background-position: -78px -100px;
	background-repeat: no-repeat;
	width: 25px;
	height: 15px;
	display: block;
	float: left;
	margin: 3px 4px 0 0;
	font-size: 1px;
	color: transparent;
}

.ad_section .lst_type .lst .lnk_url {
	position: relative;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	margin: 0 3px 0 0;
	line-height: 18px;
	color: #6f85aa;
}

.ad_section .lst_type .lst .lnk_url:hover {
	text-decoration: none;
}

.ad_section .lst_type .lst .lnk_url:hover::after {
	position: absolute;
	right: 0;
	bottom: 2px;
	left: 0;
	border-bottom: 1px solid currentColor;
	content: '';
}

.ad_section .lst_type .lst .ico_area {
	float: right;
	margin-left: 5px;
	font-size: 0;
}

.ad_section .lst_type .lst .ico_area .ico {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.ad_section .lst_type .lst .ico_area .ly_ad {
	display: block;
	position: absolute;
	top: 10px;
	z-index: 100;
	padding-top: 9px;
	color: #000;
	text-decoration: none;
	white-space: nowrap;
}

.ad_section .lst_type .lst .ico_area .ly_ad:hover {
	text-decoration: none;
}

.ad_section .lst_type .lst .ico_area .ly_ad p {
	font-size: 11px;
	line-height: 15px;
	letter-spacing: -1px;
}

.ad_section .lst_type .lst .ico_area .ly_ad p span {
	padding: 0 2px;
	font-weight: bold;
	letter-spacing: 0;
}

.ad_section .lst_type .lst .ico_area .ly_ad .ly_ad_go {
	padding-top: 1px;
	color: #03c75a;
}

.ad_section .lst_type .lst .ico_area .ly_ad .ly_ad_go .bu {
	background-position: -192px -130px;
	background-repeat: no-repeat;
	width: 5px;
	height: 8px;
	display: inline-block;
	margin-left: 3px;
	vertical-align: 0;
}

.ad_section .lst_type .lst .ico_area .ly_box {
	display: block;
	padding: 9px 9px 6px;
	border-radius: 5px;
	border: 1px solid #cbdeed;
	background-color: #fff;
}

.ad_section .lst_type .lst .ico_area .txt_reward {
	display: inline-block;
	margin: 0 7px 0 -3px;
	font-size: 12px;
	font-weight: 500;
	line-height: 13px;
	color: #31c22e;
	vertical-align: bottom;
}

.ad_section .lst_type .lst .ico_area .txt_reward + .ly_ad {
	left: -52px;
}

.ad_section .lst_type .lst .ad_dsc {
	padding-top: 1px;
	font-size: 13px;
	line-height: 18px;
	color: #242424;
}

.ad_section .lst_type .lst .url_area + .ad_dsc {
	margin-top: -1px;
	padding-top: 0;
}

.ad_section .lst_type .lst .ad_dsc_inner {
	display: inline-block;
	max-width: 100%;
	vertical-align: top;
	letter-spacing: -0.12px;
	color: #242424;
}

.ad_section .lst_type .lst .ad_dsc.law_num .point {
	display: inline-block;
	position: relative;
	color: #8f8f8f;
}

.ad_section .lst_type .lst .ad_dsc.law_num .point::before {
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 4px 6px 0;
	background-color: #d2d2d2;
	vertical-align: top;
	content: '';
}

.ad_section .lst_type .lst.ad_hover {
	background-color: #f0f5fe;
	box-shadow: 0 0 0 1px #f6f5ed;
}

.ad_section .lst_type .lst.ad_hover .inner {
	z-index: 103;
}

.ad_section .lst_type .lst.ext_desc .ad_dsc.promotion {
	padding-top: 3px;
	color: #242424;
}

.ad_section .lst_type .lst.ext_desc .ad_dsc.promotion .point {
	font-weight: 500;
	margin-right: 5px;
	color: #5189cd;
}

.ad_section .lst_type .lst.ext_link .lst_link {
	overflow: hidden;
	padding-top: 3px;
	font-size: 13px;
}

.ad_section .lst_type .lst.ext_link .lst_link .item {
	float: left;
	position: relative;
	padding: 0 7px 0 9px;
}

.ad_section .lst_type .lst.ext_link .lst_link .item:first-child {
	padding: 0 5px 0 0;
}

.ad_section .lst_type .lst.ext_link .lst_link .item ~ .item::before {
	position: absolute;
	top: 50%;
	left: 0;
	width: 2px;
	height: 2px;
	margin-top: -1px;
	border-radius: 50%;
	background-color: #ccc;
	content: '';
}

.ad_section .lst_type .lst.ext_link .lst_link .item .link {
	position: relative;
	text-decoration: none;
	display: inline-block;
	font-weight: 500;
	line-height: 20px;
	color: #0313aa;
}

.ad_section .lst_type .lst.ext_link .lst_link .item .link:hover {
	text-decoration: none;
}

.ad_section .lst_type .lst.ext_link .lst_link .item .link:hover::after {
	position: absolute;
	right: 0;
	bottom: 3px;
	left: 0;
	border-bottom: 1px solid currentColor;
	content: '';
}

.ad_section .lst_type .lst.type_subtitle .sub_tit {
	margin-left: 13px;
}

.ad_section .lst_type .lst.type_subtitle .sub_tit::before {
	position: absolute;
	top: 4px;
	left: -7px;
	width: 2px;
	height: 12px;
	background-color: #d8d8d8;
	vertical-align: 0;
	content: '';
}

.ad_section .lst_type .lst.type_subtitle .lnk_tit:visited .sub_tit::before,
.ad_section .lst_type .lst.type_subtitle .sub_tit:visited::before {
	background-color: #99209b;
}

.ad_section .lst_type .lst.ext_price .lst_price {
	width: 327px;
	padding-top: 3px;
	font-size: 13px;
}

.ad_section .lst_type .lst.ext_price .lst_price .item {
	position: relative;
	margin-top: 3px;
	line-height: 17px;
}

.ad_section .lst_type .lst.ext_price .lst_price .link {
	display: block;
}

.ad_section .lst_type .lst.ext_price .lst_price .link:hover .txt_inner,
.ad_section .lst_type .lst.ext_price .lst_price .link:hover .price {
	position: relative;
}

.ad_section .lst_type .lst.ext_price .lst_price .link:hover .txt_inner::after,
.ad_section .lst_type .lst.ext_price .lst_price .link:hover .price::after {
	position: absolute;
	bottom: 2px;
	border-bottom: 1px solid currentColor;
	content: '';
}

.ad_section .lst_type .lst.ext_price .lst_price .link:hover .txt_inner::after {
	right: 7px;
	left: 0;
}

.ad_section .lst_type .lst.ext_price .lst_price .link:hover .price::after {
	right: 0;
	left: 7px;
}

.ad_section .lst_type .lst.ext_price .lst_price .link:visited {
	color: #99209b;
}

.ad_section .lst_type .lst.ext_price .lst_price .price {
	float: right;
	padding-left: 7px;
	color: #242424;
}

.ad_section .lst_type .lst.ext_price .lst_price .txt {
	overflow: hidden;
}

.ad_section .lst_type .lst.ext_price .lst_price .txt::after {
	display: block;
	position: relative;
	top: 8px;
	overflow: hidden;
	border-top: 2px dotted rgba(128, 128, 128, 0.3);
	content: '';
}

.ad_section .lst_type .lst.ext_price .lst_price .txt_inner {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	max-width: 100%;
	padding-right: 7px;
	font-weight: 500;
	color: #0313aa;
}

.ad_section .lst_type .lst.ext_price.ad_hover .lst_price .txt_inner,
.ad_section .lst_type .lst.ext_price.ad_hover .lst_price .price {
	background-color: #f0f5fe;
}

.ad_section .lst_type .lst.ext_place .place_info {
	display: inline-block;
	position: relative;
	max-width: 100%;
	margin-top: 6px;
	padding-top: 9px;
	font-size: 0;
	text-decoration: none;
}

.ad_section .lst_type .lst.ext_place .place_info::before {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 543px;
	border-top: 1px solid #eaf0fc;
	content: '';
}

.ad_section .lst_type .lst.ext_place .place_info .price {
	display: inline-block;
	margin-right: 8px;
	font-size: 13px;
	line-height: 19px;
	color: #fc4c4e;
}

.ad_section .lst_type .lst.ext_place .place_info .time_area {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 21px;
	margin: -2px 0 -4px;
	font-size: 0;
}

.ad_section .lst_type .lst.ext_place .place_info .etc_area {
	white-space: nowrap;
}

.ad_section .lst_type .lst.ext_place .place_info .price + .etc_area {
	display: inline-block;
	position: relative;
	padding-left: 10px;
	vertical-align: top;
}

.ad_section .lst_type .lst.ext_place .place_info .price + .etc_area::before {
	position: absolute;
	top: 2px;
	left: 0;
	width: 1px;
	height: 13px;
	background-color: #ccc;
	content: '';
}

.ad_section .lst_type .lst.ext_place .place_info .time_area ~ .etc_area,
.ad_section .lst_type .lst.ext_place .place_info .benefit_txt ~ .etc_area {
	padding-top: 3px;
}

.ad_section .lst_type .lst.ext_place .place_info .benefit_txt {
	height: 21px;
	margin: -3px 0;
	font-size: 13px;
	line-height: 19px;
	color: #242424;
}

.ad_section .lst_type .lst.ext_place .place_info .benefit_txt .point {
	margin-right: 4px;
	letter-spacing: -0.9px;
	color: #5189cd;
}

.ad_section .lst_type .lst.ext_place .place_info .item {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	position: relative;
	max-width: 100%;
	padding: 0 5px 0 9px;
	font-size: 13px;
	line-height: 19px;
	color: #808080;
}

.ad_section .lst_type .lst.ext_place .place_info .item:first-of-type {
	padding-left: 0;
}

.ad_section .lst_type .lst.ext_place .place_info .item:last-of-type {
	display: block;
	float: none;
	overflow: hidden;
}

.ad_section .lst_type .lst.ext_place .place_info .item ~ .item::before {
	position: absolute;
	top: 8px;
	left: 1px;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background-color: #ccc;
	content: '';
}

.ad_section .lst_type .lst.type_more {
	padding: 10px 20px;
}

.ad_section .lst_type .lst.type_more .lnk_head {
	display: block;
}

.ad_section .lst_type .lst.type_more .url_area {
	margin-top: -3px;
}

.ad_section .lst_type .lst.type_more .url_area + .ad_dsc {
	margin-top: 0;
	padding-top: 3px;
}

.ad_section .lst_type .lst.type_img {
	padding: 8px 0 8px 20px;
	font-size: 0;
}

.ad_section .lst_type .lst.type_img:first-of-type, .ad_section .lst_type .lst.type_img.type_more:first-of-type {
	padding-top: 17px;
}

.ad_section .lst_type .lst.type_img::after {
	display: inline-block;
	vertical-align: top;
	width: 0;
	height: 70px;
	content: '';
}

.ad_section .lst_type .lst.type_img .lnk_thumb {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 3px;
	vertical-align: top;
}

.ad_section .lst_type .lst.type_img .lnk_thumb::before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	content: '';
}

.ad_section .lst_type .lst.type_img .img_thumb {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: top;
}

.ad_section .lst_type .lst.type_img .inner {
	display: inline-block;
	width: 560px;
	padding: 0 49px 0 15px;
	vertical-align: middle;
	box-sizing: border-box;
}

.ad_section .lst_type .lst.type_img[class*="ext_"] .url_area + .ad_dsc {
	width: auto;
}

.ad_section .lst_type .lst.type_img .ad_dsc_inner {
	color: #242424;
}

.ad_section .lst_type .lst.type_img.ext_price .lst_price {
	margin-bottom: -4px;
}

.ad_section .lst_type .lst.type_img.ext_desc .ad_dsc {
	margin-top: 0;
}

.ad_section .lst_type .lst.type_img.ext_place .place_info::before {
	max-width: 495px;
}

.ad_section .lst_type .lst.type_img.type_more {
	padding: 11px 0 11px 20px;
}

.ad_section .lst_type .lst.type_img.type_more .lnk_thumb {
	width: 80px;
	height: 80px;
}

.ad_section .lst_type .lst.type_img.type_more .inner {
	width: 550px;
}

.ad_section .lst_type .lst.line {
	position: relative;
	margin: 0;
	padding-top: 0;
}

.ad_section .lst_type .lst.line.type_img {
	margin-right: 20px;
	padding-top: 0;
}

.ad_section .lst_type .lst.line.type_img::before {
	margin-bottom: 14px;
}

.ad_section .lst_type .lst.line::before {
	display: block;
	height: 0;
	margin: 8px 0 11px;
	border-top: 1px solid #eaf0fc;
	content: '';
}

.ad_section .sp_ad[class*="ico_"] {
	display: inline-block;
	overflow: hidden;
	margin-right: 7px;
	font-size: 0;
	line-height: 0;
	vertical-align: bottom;
}

.ad_section .sp_ad.ico_19 {
	background-position: -166px -106px;
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	display: inline-block;
	overflow: hidden;
	margin: 0 2px 0 6px;
	vertical-align: -4px;
	line-height: 100px;
}

.ad_section .sp_ad.ico_npay {
	background-position: -120px -76px;
	background-repeat: no-repeat;
	width: 31px;
	height: 13px;
}

.ad_section .sp_ad.ico_npay + .ly_ad {
	left: -63px;
	width: 159px;
}

.ad_section .sp_ad.ico_npay_plus {
	background-position: -4px -79px;
	background-repeat: no-repeat;
	width: 42px;
	height: 13px;
}

.ad_section .sp_ad.ico_nlogin {
	background-position: -54px -79px;
	background-repeat: no-repeat;
	width: 39px;
	height: 13px;
}

.ad_section .sp_ad.ico_nlogin + .ly_ad {
	left: -75px;
	width: 190px;
}

.ad_section .sp_ad.ico_talktalk {
	background-position: -192px -4px;
	background-repeat: no-repeat;
	width: 14px;
	height: 17px;
	margin: 1px 7px 0 0;
}

.ad_section .sp_ad.ico_talktalk + .ly_ad {
	left: -102px;
	width: 220px;
}

.ad_section .sp_ad.ico_nreserve {
	background-position: -120px -29px;
	background-repeat: no-repeat;
	width: 36px;
	height: 15px;
	margin: -1px 7px 0 0;
}

.ad_section .ad_banner {
	display: block;
	position: relative;
	margin-top: 14px;
	padding: 15px 0 14px;
	border-radius: 5px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
	border: 1px solid #eaebec;
	background-color: #fff;
	font-size: 13px;
	color: #242424;
	line-height: 20px;
	letter-spacing: -0.2px;
	text-align: center;
	text-decoration: none;
}

.ad_section .ad_banner .ico_npay,
.ad_section .ad_banner .ico_nlogin {
	background-position: -120px -52px;
	background-repeat: no-repeat;
	width: 33px;
	height: 16px;
	margin: 2px 5px 2px 1px;
	vertical-align: top;
	zoom: 1;
}

.ad_section .ad_banner .more_mileage {
	float: right;
	margin-bottom: 1px;
	font-size: 13px;
	font-family: '돋움', dotum, 'Apple SD Gothic NEO', helvetica, sans-serif;
	color: #8f8f8f;
	letter-spacing: -0.5px;
	line-height: 19px;
}

.ad_section .ad_banner .txt_reward {
	display: inline-block;
	margin: 0 8px 0 -2px;
	color: #03c75a;
	vertical-align: 0;
}

.ad_section .ad_banner_cheat {
	display: block;
	margin-top: 14px;
	padding: 15px 0 14px;
	border: 1px solid rgba(0, 0, 0, 0.04);
	border-radius: 5px;
	background: #5da4f5;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
	text-align: center;
	text-decoration: none;
}

.ad_section .ad_banner_cheat .sp_ad.ico_notice {
	background-position: -80px -136px;
	background-repeat: no-repeat;
	width: 17px;
	height: 16px;
	display: inline-block;
	margin-right: 5px;
	vertical-align: -3px;
}

.ad_section .ad_banner_cheat .point {
	font-weight: 500;
	color: #fff78d;
}

.ad_section .section_more {
	height: 49px;
	margin: 0 -1px -1px;
	padding-top: 0;
	border-top: 1px solid #eff2f4;
	border-radius: 0 0 6px 6px;
	background-color: #f7f9fa;
	line-height: 47px;
	text-align: center;
	box-sizing: border-box;
}

.ad_section .section_more .go_site {
	display: block;
	float: none;
	height: 100%;
	padding: 0;
	background: none;
	font-size: 14px;
	color: #424242;
}

.ad_section .section_more .go_site:hover {
	text-decoration: none;
	color: #000;
}

.ad_section .section_more .go_site:hover .icon_arrow {
	background-position: -192px -92px;
}

.ad_section .section_more .go_site .icon_arrow {
	background-position: -192px -72px;
	background-repeat: no-repeat;
	width: 13px;
	height: 12px;
	position: relative;
	display: inline-block;
	margin-left: 6px;
	vertical-align: -1px;
}

.ad_section .lst_type_v2 .lst .ad_view {
	background-position: -30px -136px;
	background-repeat: no-repeat;
	width: 17px;
	height: 23px;
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -12px;
	font-size: 1px;
	color: transparent;
	cursor: pointer;
}

.ad_section .lst_type_v2 .lst.ad_hover .ad_view,
.ad_section .lst_type_v2 .lst .ad_view.selected {
	background-position: -55px -136px;
	z-index: 103;
}

.ad_section .lst_type_v2 .lst.ad_hover .ad_view:before,
.ad_section .lst_type_v2 .lst .ad_view.selected:before {
	background-position: -54px -29px;
	background-repeat: no-repeat;
	width: 6px;
	height: 8px;
	position: absolute;
	top: 50%;
	left: 23px;
	margin-top: -4px;
	content: '';
}

.ad_section .lst_type_v2 .lst .ly_map {
	position: absolute;
	right: -457px;
	z-index: 102;
}

.ad_section .lst_type_v2 .lst .ly_map .m_tit {
	overflow: hidden;
	font-size: 15px;
	line-height: 16px;
	letter-spacing: -1px;
}

.ad_section .lst_type_v2 .lst .ly_map .tit_area {
	position: relative;
	height: 120px;
	padding: 15px 20px;
	border: 1px solid #d9d9d9;
	border-top: none;
	background: #fff;
	line-height: 20px;
}

.ad_section .lst_type_v2 .lst .ly_map .tit_area .tit_sec {
	overflow: hidden;
	clear: both;
	font-size: 14px;
}

.ad_section .lst_type_v2 .lst .ly_map .tit_area .tit {
	overflow: hidden;
	position: relative;
	padding-top: 7px;
}

.ad_section .lst_type_v2 .lst .ly_map .tit_area .tit .txt {
	float: left;
	height: 18px;
	max-width: 210px;
	margin-right: 10px;
	font-weight: bold;
	line-height: 17px;
	color: #071ac8;
}

.ad_section .lst_type_v2 .lst .ly_map .tit_area .m_url {
	margin-top: 3px;
}

.ad_section .lst_type_v2 .lst .ly_map .tit_area .m_url .txt {
	max-width: 270px;
	height: 18px;
	line-height: 17px;
	color: #288c47;
}

.ad_section .lst_type_v2 .lst .ly_map .tit_area .tit .txt,
.ad_section .lst_type_v2 .lst .ly_map .tit_area .m_url .txt,
.ad_section .lst_type_v2 .lst .ly_map .tit_area .info_sec .txt {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	word-break: normal;
	word-wrap: normal;
}

.ad_section .lst_type_v2 .lst .ly_map .tit_area .m_dsc {
	display: inline-block;
	overflow: hidden;
	max-height: 72px;
	margin-top: 9px;
	font-size: 13px;
	color: #6c6d70;
	vertical-align: top;
}

.ad_section .lst_type_v2 .lst .ly_map .tit_area .thumb {
	float: left;
	overflow: hidden;
	position: relative;
	width: 49px;
	height: 55px;
	margin-right: 12px;
	text-align: center;
	white-space: nowrap;
	word-break: normal;
	word-wrap: normal;
}

.ad_section .lst_type_v2 .lst .ly_map .tit_area .thumb img {
	width: 49px;
	vertical-align: middle;
}

.ad_section .lst_type_v2 .lst .ly_map .tit_area .thumb .v {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.ad_section .lst_type_v2 .lst .ly_map .info_sec {
	margin-top: 10px;
	padding-top: 12px;
	border-top: 1px solid #f2f2f2;
}

.ad_section .lst_type_v2 .lst .ly_map .info_sec .txt {
	display: block;
	max-width: 330px;
	height: 20px;
	font-size: 13px;
	color: #242424;
}

.ad_section .lst_type_v2 .lst .ly_map .info_sec .address .txt + .txt {
	padding-top: 3px;
}

.ad_section .lst_type_v2 .lst .ly_map .info_sec .dsc {
	padding-top: 9px;
}

.ad_section .lst_type_v2 .lst .ly_map .info_sec .dsc .txt {
	color: #666;
}

.ad_section .lst_type_v2 .lst .ly_map .info_sec .dsc .bar {
	display: inline-block;
	width: 1px;
	height: 11px;
	margin: 0 3px 0 1px;
	border-left: 1px solid #e6e6e6;
}

.ad_section .lst_type_v2 .lst .ly_map .map_area {
	position: relative;
	width: 375px;
	height: 312px;
	margin: 13px auto 0;
}

.ad_section .lst_type_v2 .lst .ly_map .map_area .btn_map {
	background-position: -4px -100px;
	background-repeat: no-repeat;
	width: 30px;
	height: 28px;
	position: absolute;
	right: 10px;
	bottom: 23px;
	z-index: 2;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
}

.ad_section .lst_type_v2 .lst .ly_map .btn_clse {
	overflow: hidden;
	position: absolute;
	top: 16px;
	right: 24px;
	padding: 4px;
	font-size: 0;
	line-height: 0;
}

.ad_section .lst_type_v2 .lst .ly_map .btn_clse::before {
	background-position: -192px -51px;
	background-repeat: no-repeat;
	width: 13px;
	height: 13px;
	display: block;
	content: '';
}

.ad_section .lst_type_v2 .lst .ly_map .ico_find_road {
	background-position: -120px -4px;
	background-repeat: no-repeat;
	width: 38px;
	height: 17px;
	overflow: hidden;
	float: right;
	margin-top: 1px;
	font-size: 0;
	line-height: 0;
}

.ad_section .lst_type_v2 .lst .ly_map .ico_road_name {
	background-position: -4px -4px;
	background-repeat: no-repeat;
	width: 58px;
	height: 17px;
	display: inline-block;
	overflow: hidden;
	margin-right: 5px;
	font-size: 0;
	line-height: 0;
	vertical-align: -4px;
}

.ad_section .lst_type_v2 .lst .ly_map .thumb .bd {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	border: 1px solid #000;
	opacity: .1;
	filter: alpha(opacity=10);
}

.ad_section .lst_type_v2 .lst .ly_map .bd .bd_top,
.ad_section .lst_type_v2 .lst .ly_map .bd .bd_rgt,
.ad_section .lst_type_v2 .lst .ly_map .bd .bd_lft {
	opacity: .1;
	filter: alpha(opacity=10);
}

.ad_section .lst_type_v2 .lst .ly_map .bd .bd_top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	border-top: 1px solid #000;
}

.ad_section .lst_type_v2 .lst .ly_map .bd .bd_btm {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #000;
	opacity: .3;
	filter: alpha(opacity=30);
}

.ad_section .lst_type_v2 .lst .ly_map .bd .bd_rgt {
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	border-right: 1px solid #000;
}

.ad_section .lst_type_v2 .lst .ly_map .bd .bd_lft {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 100%;
	border-left: 1px solid #000;
}

.ad_section .lst_type_v2 .lst .ly_p_top {
	top: -1px;
}

.ad_section .lst_type_v2 .lst .ly_p_btm {
	bottom: 27px;
}

.ad_section .lst_type_v2 .lst .ly_map {
	width: 375px;
	padding: 19px 25px 25px;
	background-color: #fff;
	border: solid 1px #eaeaea;
	border-radius: 6px;
	font-size: 13px;
}

.ad_section .lst_type_v2 .lst.type_img .ad_view {
	top: 35px;
}
/*# sourceMappingURL=powerlink.css.map */
